/* Master Styles */
body {
	margin: 0px;
    margin: auto;
    width: 75%;
    font-family:'open sans', cursive;
    color: #2E4057;
    font-weight: 500;
    --primary-font: ;
    --secondary-font: ;
    --body-font: ; 
}



/* Nav Styles */
.#nav-wrapper {
    display: grid;
    justify-content: space-between;
}

.nav-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  overflow:hidden;
}

.#nav-left{
    display:flex;
    text-align: center;
    background-color: #2E4057;
    padding-right: 10px;
    border-radius: 0 0 5px 5px;
}

.nav-left{
  max-width: 80%;
  align-items: center;
  display: flex;
  background-color: #2E4057;
  padding-right: 10px;
}

.top-logo {
  height: 90%;
  width: auto;
}

.nav-left:hover {
  transition: 0.2s;
  background-color:#FF6B49;
}

.title-name {
    margin: auto;
    color: white;
    font-size: 150%;
    text-decoration: none;
}

.nav-center{
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.nav-center a {
	color: #2E4057;
	text-decoration: none;
	transition: color 0.2s;
}

.menu-items-row:hover {
	border-bottom: 1px solid #2E4057;
}

.nav-center a:hover {
  border-bottom: 1px solid;
	transition: border-bottom 0.5s;
}

.##active-nav-link {
  border-bottom: 1px solid #2E4057;
}

.active-nav-link a {
	color: #2E4057 !important;
}

.menu-items-row {
  font-family:'Open Sans';
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 590;
  color: #2E4057;
  font-size: 1em;
  letter-spacing: 0.2em;
  padding: 0 30px;
  text-align: center;
  border-bottom: 1px solid transparent;
	transition: border-bottom 0.3s;
}

.#nav-right {
  display: flex;
}

.nav-right {
  display: grid;
  justify-items: center;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  overflow: hidden;
  max-width: 100%;
}

.contact-button {
  color: white;
  background-color: #2E4057;
  width: 100%;
  padding: 10px 60px;
  text-decoration: none;
  font-family:'Open Sans';
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.contact-button:hover {
  transition: 0.2s;
  background: #FF6B49;
}

.nav-contact-text {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: 0.5em 0;
}

.social-links-wrapper {
  justify-items: ;
  padding-right: ;
  margin: auto;
}

#social-links-contact {
  padding-top: 10px;
}

.logo-link {
  height: 20px;
  margin: 0 17px;
}


/* scale down menu*/
.dropdown {
  background-color:#2E4057;
  font-family: Alfa Slab One;
  color: white;
  padding: 34px 16px 34px 16px;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

.menu {
  position: relative;
}

.dropdown:hover{
  transition: 0.5s;
  background: #FF6B49;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.dropdown:hover .dropdown_menu .menu-items{
  display: block;

  }

.dropdown_menu:hover {
  background: #0AEAEA;
  cursor: pointer;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  }

.menu-items {
  display: none;
  color: white;
  background-color: #34495e;
  padding: 20px 15px;
  font-size: 16px;
  opacity: 0;
}

.menu-items:hover {
  background-color: #0AEAEA;
}

.dropdown:hover .dropdown_menu--animated {
  display: block;
}

.dropdown_menu--animated {
  display: none;
}

.menu-items {
  display: block;
  opacity: 1;
}

.menu-items {
      display: block;
      opacity: 1;
}

  .dropdown_menu-6 {
      animation: growDown 300ms ease-in-out forwards;
      transform-origin: top center;
  }

@keyframes growDown {
  0% {
      transform: scaleY(0);
  }
  80% {
      transform: scaleY(1.1);
  }
  100% {
      transform: scaleY(1);
  }
}

.menu-items:link {
  text-decoration: none;
  color: white;
  display: block;
}

.menu-items:visited {
  text-decoration: none;
  color: white;
}


/* Main Body Styles */
.main-page-subtitle {
    padding-top: 20px;
    text-align: center;
    font-family: Anton;
}

.main-tiles {
        column-count: 3;
        column-gap: 10px;
}



.content-img-background {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
}

.content-item-wrapper {
  position: relative;
  overflow:visible;
}

.subtitle-text-wrapper {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	height: 130px;
	text-align: left;
	padding-left: 50px;
  padding-right: 100px;
}

.subtitle{
  font-family:;
}

video:focus {outline:none;} 

.main-subtitle{
    font-family: Alfa Slab One;
    color:#FFFBFF;    
    font-size: 150%;
}

.subtitle-text-wrapper .subtitle {
	transition: 1s;
  color: transparent;
  font-weight: 500;
}

.content-item-wrapper:hover .subtitle {
  color: #0AEAEA;
  font-weight: 500;
}

.img-darken {
	transition: 0.5s;
  filter: brightness(25%);
}

/* Main content text wrapper styles */
.main-content-text-wrapper {
  display:grid;
  justify-content: center;
  text-align: center;
}

.main-content-logo {
  padding: 3em 0;
}

/* Foot-box styles */
.foot-box-wrapper {
display:grid;
background-color: #2E4057;
padding:  5px 0 30px 0;
color: white;
}

.go-top-wrapper {
  display:flex;
  justify-content: center;
}

#myBtn {
  position: fixed;
  margin: auto;
  bottom: 20px;
  right: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background-color:#2E4057;
}

#myBtn:hover {
  transition: 0.2s;
  background-color: white;
}

.chevron-up {
  width: 25px;
}

.lower-foot-box-items {
  display: flex;
}

.foot-left {
  display: grid;
  padding-left: 25px;
}

.foot-content-contact-wrapper {
display:grid;
justify-items: center;
}

#foot-box-social-links {
  padding-top: 0.3em;
}

.foot-content-contact-text {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.25em;
  padding-bottom: 1.5em;
}

.foot-center {
 margin: auto;
}

#foot-box-logo {
  height: 10em;
}

  /* Footer styles */
.footer {
  width: 100%;
  background-color:;
  color: 2E4057;
  text-align: center;
  font-family:'open sans';
}